@page "/logout"
@rendermode InteractiveServer
@inject NavigationManager Nav

<p>Signing out...</p>

@code {
    protected override void OnInitialized()
    {
        Nav.NavigateTo("/ui-auth/signout", forceLoad: true);
    }
}
